# Recommedations from GitHub help pages
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.txt text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.go text eol=lf

# Declare files that are binary on checkout.
*.exe binary