/.idea
/backup/
/build/
/samples/
/tests/

/darwin/
/dist/linux/patchgos
/dist/linux/patchsmc
/dist/linux/patchvmkctl
/dist/windows/patchgos.exe
/dist/windows/patchsmc.exe
/dist/windows/patchvmkctl.exe
