<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardDiskTotalSize</key>
	<integer>16842752</integer>
	<key>reclaimableSize</key>
	<integer>0</integer>
	<key>scaledHighResolution</key>
	<integer>3</integer>
	<key>singleWindowFrame</key>
	<string>{{196, 417}, {800, 600}}</string>
	<key>singleWindowIsZoomed</key>
	<false/>
	<key>snapshotSizes</key>
	<dict/>
	<key>snapshotVMDKSizes</key>
	<dict/>
	<key>snapshotsSize</key>
	<integer>0</integer>
	<key>snapshotsVMDKSize</key>
	<integer>0</integer>
</dict>
</plist>
